{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Компания медицинской диагностики{% endblock %}</title>
    <!-- Подключение Bootstrap (вам может потребоваться установить и скачать Bootstrap) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
 <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            background: linear-gradient(135deg, #6b6e9e 0%, #b49295 100%);
            font-family: 'Arial', sans-serif;
        }
        footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: #87CEFA;
            color: white; /* Цвет текста футера */
            text-align: center;
            padding: 10px;
        }

    </style>

</head>
<body>

<!-- Навигационная панель -->
<nav class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand" href="{% url 'main:home' %}"> MedDiag Pro</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'main:home' %}">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'main:about' %}">О нас</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'main:services' %}">Услуги</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#team">Наша команда</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'main:contacts' %}">Контакты</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
               <a class="nav-link" href="{% url 'users:profile' %}"> {{ user.email }} </a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:login' %}">Авторизация</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:register' %}">Регистрация</a>
            </li>
            {% endif %}

        </ul>
    </div>
</nav>

<!-- Основной контент -->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>

<footer class="bg-dark text-light text-center py-3">
    <p>&copy; {% now "Y" %} MedDiag Pro</p>
</footer>
<!-- Подключение Bootstrap JS (вам может потребоваться установить и скачать Bootstrap JS) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
