{% extends 'main/base.html' %}
{% load static %}
{% block title %}О нас - Компания медицинской диагностики{% endblock %}

{% block content %}

<div class="row">

    <div class="col-md-12">
        <img src="{% static 'img/about_logo.jpg' %}" alt="med_diag" class="img-fluid mb-1">
    </div>
</div>
</div>
<div class="mt-10" style="color: #800080;">
    {% for review in reviews %}
    <h2>
        <p><strong> ({{ review.created_at }}) {{ review.author }}</strong>: {{ review.content }}</p>
    </h2>
    {% endfor %}
</div>
<section class="container my-5">
    <div class="row">

        <div class="col-lg-5 text-center">
            <h2 class="mb-4">О нас</h2>
            <p>
                Компания медицинской диагностики - это современная медицинская лаборатория, предоставляющая
                высококачественные услуги диагностики
                и анализа заболеваний. Мы с гордостью внедряем новейшие технологии и методики для точного определения
                различных патологий и состояний организма.
            </p>
            <p>
                Наша миссия заключается в предоставлении доступных, точных и быстрых медицинских диагностических услуг.
                Мы стремимся улучшить
                заботу о здоровье наших пациентов, предоставляя им информацию, необходимую для принятия осознанных
                решений о своем благополучии.
            </p>
        </div>


        <div class="col-lg-7 text-center">
            <h2 class="mb-4">Отзывы</h2>
            <p>Здесь могут быть ваши отзывы от пациентов. Делитесь своим опытом и впечатлениями о наших услугах.</p>

            {% if user.is_authenticated %}
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Оставить отзыв</button>
            </form>
            {% else %}
            <h2 style="color: #0000FF;">Чтобы оставить отзыв, пожалуйста, <a href="{% url 'users:login' %}" style="color: #0000FF;">Войдите</a>. или <a href="{% url 'users:register' %}" style="color: #0000FF;">Зарегестрируйтесь</a></h2>
            {% endif %}


        </div>

    </div>

</section>


{% endblock %}